@model ParentListVM
<div>

    <form method="get">
        <input type="text" asp-for="ParentFirstName"  placeholder=" Full Name" />
        <input type="text" asp-for="ChildFirstName"asp-for="ChildSecondName" placeholder=" Full Name" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>
