@model List<ParentListVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Parents</h1>


<table class="table table-stripped">
    <thead>
        <tr>
            <th>ParentFullName</th>
            <th>ParentIdNumber</th>
            <th>ChildFullName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ParentFullName</td>
                <td>@item.ParentIdNumber</td>
                <td>@item.ChildFullName</td>
               
   
                <td>
                    <a asp-action="PrintAgreement" asp-route-id="@item.Id">
                        View link
                    </a>
                </td>
                
            </tr>
        }
    </tbody>

</table>