@model LessonAddEditVM
@{
    string actionText = Model.Id == 0 ? "Add" : "Edit";
}
<div class="modal-content">
    <div class="modal-header">
        <h1>@actionText lesson</h1>
    </div>


    <div class="modal-body">

        <form method="post" asp-area="Admin" asp-action="AddEdit" asp-controller="Lesson" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label>

             
                <input type="hidden" asp-for="SubjectId" />
                </label>
                <label>
                    Lesson Name
                    <input asp-for="Title" class="form-control" />
                </label>
            </div>
            <div class="form-group">
                <label>
                    Lesson Description
                    <textarea asp-for="ShortDescription" class="form-control">
                            </textarea>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Lesson Content
                    <input asp-for="Content" class="form-control" />
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-success">@actionText</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>

</div> 