@model LevelInfoVM

<h1>@Model.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Package Name</th>
            <th>Subjects</th>
            <th>      </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Title </td>
            <td>@Model.PackageName </td>




            <td style="color:purple">

                @{
                    bool firstIteration = true;

                    foreach (var item in Model.SubjectList)
                    {

                        if (firstIteration)

                        {

                            @item
                            ;

                        }

                        else

                        {

                            <text> , </text>  @item
                            ;

                        }

                        firstIteration = false;

                    }
                }
            </td>
            <td> <a href="#">Delete</a></td>
            <td><a href="#">Edit</a></td>
        </tr>
    </tbody>
</table>